@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 5%;
    --foreground: 210 40% 98%;
    --card: 222 47% 8%;
    --border: 217 33% 17%;
    --primary: 217 91% 60%;
    --muted: 217 33% 17%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
